@model LearnerProject.Models.Entities.Testimonial
@{
    ViewBag.Title = "AddTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<br />
<h4>Referans Ekleme Sayfası</h4>
<br />
<form method="post" enctype="multipart/form-data">
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control mb-3", @placeholder = "İsim Soyisim" })
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control mb-3", @placeholder = "Başlık" })
    @Html.TextBoxFor(x => x.ImageUrl, new {@class="form-control mb-3",@placeholder="Resim Url",@type="file"})
    @Html.TextAreaFor(x => x.Comment,5,30, new { @class = "form-control mb-3", @placeholder = "Yorum" })
    <button class="btn btn-outline-success"><i class="fas fa-save"> Kaydet</i></button>
</form>