@model List<LearnerProject.Models.Entities.Classroom>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    var count = 0;
}
<br />
<h4>Referanlar</h4>
<br />
<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Derslik Adı</th>
        <th>Ikon</th>
        <th>Açıklama</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Name</td>
            <td>@item.Icon</td>
            <td>@item.Description</td>
            <td>
                <a href="/Classroom/DeleteClassroom/@item.ClassroomId" class="btn btn-outline-danger"><i class="fa fa-trash"></i></a>
                <a href="/Classroom/UpdateClassroom/@item.ClassroomId" class="btn btn-outline-info"><i class="fa fa-pen"></i></a>
            </td>
        </tr>

    }
</table>
<a href="/Classroom/AddClassroom/" class="btn btn-outline-primary">Yeni Derslik Ekle</a>